<h1 class="transaction-form">Add a new Category</h1>
<%= form_for :group, url: user_groups_path(@user) do |f| %>
  Category name: <%= f.text_field :name %><br />
  Category icon: <%= f.text_area :icon %><br />
  <%= f.submit %>
<% end %>
