<h1 class="transaction-form">Add a new Category</h1>
<%= form_with(model: @group, url: groups_path, local: true, data: { turbo: false }) do |f| %>
  Category name: <%= f.text_field :name %><br />
  Category icon: <%= f.text_area :icon %><br />
  <%= f.submit %>
<% end %>
