/** index **/

.splash-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-wrapper {
  text-align: center;
}

.login {
  background-color: #3778c2;
  color: #fff;
  width: 90%;
  padding: 5%;
  margin-top: 60%;
  font-family: 'Proxima Nova Bold';
}

.signup {
  color: #434b54;
  width: 90%;
  height: 20%;
  text-align: center;
}

/** DEVISE **/

/** Registration **/
.place-field {
  color: #434b54;
  width: 95%;
  height: 5vh;
}
