/** index **/
.splash-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column; /* Arrange child elements in a column */
  align-items: center;
}

.login,
.signup {
  width: 95%;
  padding: 5%;
  font-family: 'Proxima Nova Bold';
  text-decoration: none;
}

.login {
  background-color: #3778c2;
  color: #fff;
  margin-top: 80%;
}

.signup {
  color: #434b54;
}


/** DEVISE **/

/** Registration **/
.place-field {
  color: #434b54;
  width: 95%;
  height: 5vh;
}

/** GROUP**/
.new-group {
  color: #434b54;
  width: 95%;
  height: 5vh;
  padding: 2%;
  font-size: 1rem;
}

.actions {
  width: 40%;
  font-size: 2rem;
  background-color: transparent;
  margin-top: 5%;
  margin-left: 30%;
}

/** MENU **/
nav {
  width: 100%;
  background-color: #3778c2;
  color: white;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin-bottom: 10%;
}

nav > * {
  margin: 0;
  padding: 1rem;
  color: white;
  text-decoration: none;
  width: 100vw;
  text-align: center;
}

.back_btn {
  height: 1.5rem;
}

.signout {
  width: 6rem;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
}

/** FOOTER **/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5fb523;
}

.new_category_btn {
  border: 1px solid white;
  border-radius: 4px;
  width: 60%;
  padding: 0.6rem;
  color: white;
  text-decoration: none;
}
