<div class="transaction-container">
<div class="transaction-header">
<h1 class="transaction-header">TRANSACTION</h1>
<p class="recent-transaction">Most recent</p>
</div>

<div class="transaction-wrapper">
<% @operations.each do |operation|%>
<h5 class="transaction-title"><%= operation.name %></h5>
<p class="transaction-totale"><%= operation.total_amount %></p>
<p class="transaction-amount"><%= operation.amount %></p>

<% end %>
</div>

<a href='<%=new_user_operation_path(current_user, @operation)%>'>
<button class="add-transaction">Add a new Transaction</button>
</a>
<button class="back-button">Back</button>
</div>
</div>